@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#inputs-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

input {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
  background-color: var(--background);
  color: var(--foreground);
  margin: 10px;
}

input:focus {
  outline: none;
  border-color: #999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


